.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin-bottom: 1.5rem;
	text-align: left;
	background-color: #1d70b8 !important;
}

[data-theme="dark"] .heroBanner {
	color: #efefef;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
