---
sidebar_label: Verification
---

# Verification on BC Social

There are three verification badges:

- <img src="/img/verified.png" class="img-inline" /> **Verified** — used for notable individuals
- <img src="/img/verified_business.png" class="img-inline" /> **Verified Business** — used for most licensed businesses
- <img src="/img/verified_government.png" class="img-inline" /> **Verified Government** — used for most official accounts

:::danger
Your BC Social account will be deleted if you add a verification badge to your profile without approval.
:::

A verified user should have both the verification badge and the appropriate profile role.

![Verification example](/img/verification_example.png)

> Please report an account that has a verification badge in its name without the correct corresponding role.

## Becoming verified

DM Automationeer to request verification.

If your request is approved, the verified role will be added to your profile.

:::warning
You must not add a verification badge until you have the verified role. You must only use the verification badge that corresponds to your role.
:::

## Once you're verified

You will be told how to add the verification badge to your display name. Put it at the end of your name, preceded by a space.

Do not use multiple verification badges. Do not use any verification badge except for the one that corresponds to your profile role.
