---
sidebar_label: Verification

maintainer: publishing
hide_maintainer: true
last_review: 2024-07-25
review_in: 4 months
---

# Verification on BC Social

There are three verification badges:

- <img src="/img/verified.png" class="img-inline" /> **Verified** — used for notable individuals
- <img src="/img/verified_business.png" class="img-inline" /> **Verified Business** — used for businesses
- <img src="/img/verified_government.png" class="img-inline" /> **Verified Government** — used for most official accounts

:::danger
Your BC Social account will be deleted if you add a verification badge to your profile without approval.
:::

A verified user should have both the verification badge and the appropriate profile role.

![Verification example](/img/verification_example.png)

> Please report an account that has a verification badge in its name without the correct corresponding role.

## Becoming verified

DM Automationeer to request verification.

<details>
    <summary>What verification badge can I get?</summary>
    <p>

    Firstly, you need to be notable; you as in whatever entity the account is for.

    Registered political parties will usually be granted the blue Verified badge. Notable members of the community can also be granted this badge.

    Most businesses, especially those with developer support, will qualify for the Verified Business badge.

    The Verified Government badge is used for agencies, departments, government programmes, ministers, and dedicated department head roles.

    But ultimately it's at the site admins' discretion.
    </p>
</details>

If your request is approved, the verified role will be added to your profile.

:::warning
You must not add a verification badge until you have the verified role. You must only use the verification badge that corresponds to your role.
:::

## Once you're verified

You will be told how to add the verification badge to your display name. Put it at the end of your name, preceded by a space.

Do not use multiple verification badges. Do not use any verification badge except for the one that corresponds to your profile role.
